* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #383737;
}

a {
    text-transform: uppercase;
}

p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 70%;
    width: 50%;
    line-height: 140%;
    margin-bottom: 20px;
}

h1 {
    font-weight: 300;
    font-size: 250%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h2 {
    font-weight: 300;
    font-size: 100%;
    margin-bottom: 20px;
}

h3 {
    font-weight: 400;
    font-size: 80%;
}

p, h1, h2, h3 {padding-left: 40px;}


.important {
        font-weight: 200;
        font-size: 50px;
    }
        
.blue {color: blue;}

body {
    font-family: 'Roboto';
    font-weight: 300;
    background-color: #4e4d4d;
}

.row {
    margin: 0 auto; 
    max-width: 1300px;
}

/* ==========BANNER============ */
.banner {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -8px;
}

/* ==========MENU============ */
.mainNav {
    height: 50px;
    background-color: #EDE1AF;
    margin: 0 auto;
    width: 50%;
}

.mainNav ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    font-weight: 300;
    font-size: 70%;
    margin-top: 8px;
}

.mainNav ul a {
    display: inline-block;
    padding: 10px;
    padding-bottom: 7px;
    text-decoration: none;
}

.mainNav ul a:visited,
.mainNav ul a:link {
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}
.mainNav ul a:hover,
.mainNav ul a:active {
    border-bottom: 1px solid #8E7F60;

}

a:hover, a:visited {
    color: #000;
}

.submenu {
    padding: 0;
    position: absolute;
    list-style: none;
    z-index: 1;
    background-color: #EDE1AF;
    width: 100px;
    display: none;
}

.submenu li {    
    display: block;
    font-size: 100%;
}

.submenu a {
    display: block;
    float: left;
}


/* ==========BANNER============ */

.img-div {
    width: 50%;
    margin: 0 auto;
}

.img-div img {
    width: 25%;   
    float: left;
    margin-top: -1px;
    
}

.food-div {
    width: 70%;
    margin: 0 auto;
    background-color: #EDE1AF;
    margin-top: -35px;
    
}

/* ==========TEXT============ */

.section-dark-yellow {
    background-color: #e2d6ab;

}

.section-light-yellow {
    background-color: #efe3b6;
}

section {
    width: 50%;
    margin: auto;
    padding: 30px 0 20px 0;
    
}

/*========STRIP============*/


.ul-strip {
    width: 100%;
    list-style: none;
    overflow: hidden;

}

.ul-strip li {
    display: inline-block;
    width: 25%;
    float: left;
    overflow: hidden;
    margin: -0px 0 0 0;

}

.ul-strip img {
    width: 100%;
    height: auto;  
    opacity: 0.9;
    -webkit-transform:scale(1.15);
    -ms-transform:scale(1.15);
    transform:scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;

}

.ul-strip img:hover {
    -webkit-transform:scale(1.03);
    -ms-transform:scale(1.03);
    transform:scale(1.03);
    opacity: 1;
    
}

.section-strip {
    padding: 0;
}

/* ==========TOP PICKS============ */
.plan-box {
    background-color: #e2d6ab;
    border-radius: 2px;
    text-align: left;
    transition: background-color 0.2s;
}

.plan-box:hover,
.plan-box:active{
    background-color: #ebe5cd;
}


.plans-category {
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid #edecec;
    text-align: left;
    
}

.div-plans {
    width: 90%;
    padding: 0;
    margin: auto;
}

.plans-winner {
    background-color: #efe3b6;
}

.plans-winner p {
    width: 100%;
    line-height: 140%;
    margin-bottom: 0px; 
    padding: 10px 0 0 27px;
}

.title-winner {
    width: 100%;
    padding: 0;
    margin-bottom: 0px;
}

.div-remaining {
    padding: 0;
    width: 100%;
    display: inline-block;
    padding-top: 40px;
    
}

.plan-box div h3 {
    padding: 0;
    font-weight: 300;
    font-size: 90%;
    letter-spacing: 1px;
}

.plans-category img {
    width: 15%;
    height: auto;
    display: block;
    float: left;
    margin-right: 10px;
}

.red {
    color: red;
}

/*============FOOTER============*/
.footer p {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}

.footer a {
    text-transform: lowercase;
}